<!-- starts nodes that interfaces saarti with fssim -->

<launch>
     <!-- inputs to saarti -->
     <!-- todo get vehicle params from gazebo model -->
     <rosparam command="load" file="$(find vehicle_models)/config/static_params_vehicle1.yaml" />

     <!-- inputs to saarti -->
     <node pkg="perception" type="fssim_track_iface.py" name="fssim_track_iface"> </node>
     <node pkg="perception" type="localization_and_state_est.py" name="localization_and_state_est" output="screen"> </node>
     <!--<node pkg="perception" type="object_detection.py" name="object_detection"> </node> -->

     <!-- outputs from saarti -->
     <!-- <node pkg="planning" type="motionplanner_node" name="saasqp"> </node> -->
     <!-- <node pkg="common" type="ctrl_interface.py" name="ctrl_interface"> </node> -->
</launch>
