<!-- launches rviz when running rosbag externally --> 

<launch>
    <!-- simtime -->
    <param name="use_sim_time" value="true" /> 

    <!-- params -->
    <arg name="robot_name" default="rhino" />
    <arg name="urdf_model" default="$(find common)/config/vehicles/$(arg robot_name)/urdf/car.urdf" />
    <param name="robot_name" type="string" value="$(arg robot_name)" />
    <rosparam command="load" file="$(find common)/config/vehicles/$(arg robot_name)/config/car.yaml" />

    <!-- introduce new coordinate frame to align camera -->
    <node pkg="tf" type="static_transform_publisher" name="cam__broadcaster" args="0.2 0 0 -0.04997917 0 0 0.99875026 cam cam_ 100" />    

    <!-- visualization -->
    <param name="robot_description_simple" command="$(find xacro)/xacro --inorder $(arg urdf_model)" />
    <node name="rviz_" pkg="rviz" type="rviz" args="-d $(find tamp_logs)/rviz/saarti_replay.rviz "/>

</launch>

